# CODEOWNERS file for my repository
# Lines starting with '#' are comments.
# This file specifies who is responsible for code in this repository.
# The '*' pattern means that the rule applies to all files.

# Default code owner for all files
*       @marcissture
